:root {
    /* Modifica colore principale - verde */
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;
    /* Modifica colore grigio chiaro */
    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;
    /* Modifica colore grigio scuro */
    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;
}

[class*="col-"] {
    /* border: 1px solid #dbd581; */
    min-height: 70px;
}

.nested-col > [class*="col-"] {
    /* border: 1px solid #cf8960; */
    min-height: 30px;
}

.user-img {
    max-width: 250px;
}

section {
    padding: 3rem 0;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
}

/* Liste */
.my-list-group {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}

.my-list-group > li {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0;
    margin-top: 0;
}

/* Pulsante form di contatto */
.my-btn-contact-form {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2ae2bd;
    --bs-btn-hover-border-color: #2ae2bd;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2ae2bd;
    --bs-btn-active-border-color: #2ae2bd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2ae2bd;
    --bs-btn-disabled-border-color: #2ae2bd;
}

/* Greca con stella */
.star-line {
    background-color: white;
    flex-basis: calc((100% / 12) * 3);
    height: 4px;
    border-radius: 10px;
}

.star-line-black {
    background-color: black;
}

.star-line-main {
    flex-basis: calc((100% / 12) * 2);
}

/* Footer */
footer .link-primary:focus, .link-primary:hover {
    color: #1abc9c;
    -webkit-text-decoration-color: #1abc9c;
    text-decoration-color: #1abc9c;
}

.my-footer-circle {
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
}